- content_box_file = '../_partials/_content_box_2.slim'

- custom_menu_settings = Hash.new
- custom_menu_settings['color_scheme'] = 'light'
- custom_menu_settings['color_style'] = 'default'
- custom_menu_settings['layout'] = 'compact'
- custom_menu_settings['position'] = 'top'
- custom_menu_settings['side'] = 'left'

- no_breadcrumbs = true
- all_solid_bg = true
- show_top_bar = false
- show_onboarding = true
- show_demo_customizer = false

include ../_partials/_template.slim